.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black;
}

.Header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px;
}

.Header h1 {
  font-size: 1em;
}

.nav {
  font-size: 1em;
}

.SearchFields {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.adjectiveInputDiv,
.nounInputDiv {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.resultsTitle {
  margin-top: 80px;
}

.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.adjectiveResult,
.nounResult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

/* .nounResult {
  background-color: white;
  color: black;
  height: 300px;
  width: 300px;
} */

.combinedResultsTitle {
  margin-top: 80px;
}

.CombinedResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.CombinedResultsChild {
  background-color: white;
  color: black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer {
  font-size: 14px;
  margin: 20px 0px;
}

@media (min-width: 768px) {
  .Header h1 {
    font-size: 2em;
  }

  .nav {
    font-size: 2em;
  }

  .SearchFields {
    margin-top: 45px;
    flex-direction: row;
  }

  .adjectiveInput,
  .nounInput {
    margin-left: 10px;
    height: 1.6em;
  }
}

@media (min-width: 1024px) {
  .Header h1,
  .nav {
    font-size: 3em;
  }

  .Results {
    flex-direction: row;
    margin-bottom: 300px;
  }

  .adjectiveResult {
    margin-right: 10px;
  }
  .nounResult {
    margin-left: 10px;
  }
}
